.new-task-link {
    color: #712cf9;
    text-decoration: none;
    border: 2px solid #712cf9;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}

.action-buttons {
    color: #712cf9;
    border: 2px solid #712cf9;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}

.action-buttons i {
    font-size: 18px;
}

.action-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

@media (max-width: 900px) {
    .action-buttons-container {
        flex-direction: column;
    }
}