<div class="row d-flex flex-column align-items-center justify-content-center form-container">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div>
                    <h1 class="text-center">
                        <i class="bi bi-gear"></i>
                        Gerenciador de Tarefas
                    </h1>
                </div>
                <div *ngIf="asError">
                    <div class="alert alert-danger" role="alert">
                        {{errorMessage}}
                    </div>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="mb-3">
                            <label for="login" class="form-label">Login</label>
                            <input type="text" name="login" id="login" class="form-control" formControlName="login">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" name="password" id="password" class="form-control"
                                formControlName="password">
                        </div>
                        <div class="col-12 d-flex align-itens-center justify-content-center mb-3">
                            <button type="submit" [disabled]="!loginForm.valid"
                                class="btn btn-primary w-100">Entrar</button>
                        </div>
                        <div class="col-12 d-flex align-items-center justify-content-center">
                            <div class="d-flex align-items-center justify-content-between">
                                <span>Não possui uma conta?</span>
                                <button type="button" (click)="registerUser()" class="btn btn-link">Registre-se</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>