/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.btn-primary-custom {
    padding: 8px 25px 8px 25px;
    background-color: #712cf9;
    border-color: #712cf9;
}

.btn-primary-custom:hover {
    color: white;
    background-color: #671ef8 !important;
    border-color: #671ef8 !important;
}

.btn-primary-custom:focus {
    color: white;
    background-color: #671ef8 !important;
    border-color: #671ef8 !important;
}

.btn-primary-custom:active {
    color: white;
    background-color: #671ef8 !important;
    border-color: #671ef8 !important;
}

.content {
    padding: 15px;
}